.header{
    height: 84vh;
    background-color: #0146A1;
    color: white;
    padding: 0 5rem;
}

.header h1{
    font-size: 72px;
    padding-top: 80px;
    color: white;
    font-weight: 700;
    font-style: normal;
}
.header h5{
    font-size: 23px;
    opacity: 0.7;
}

.header .right-side img{
    position: absolute;
    right: 14rem;
    top: 250px;
}

.header .right-side .img1{
    right: 350px;
    top: 200px;
    animation: animation 1s alternate infinite;
}

.header .right-side .img2{
    right: 8rem;
    top: 500px;
    animation: img2 1s alternate infinite;
}

.header .right-side .img3{
    z-index: 99;
    animation: img2 1s alternate infinite;
}

.header .right-side .img4{
    top: 500px;
    right: 9rem;
    z-index: 999;
    animation: img2 1s alternate infinite;
}

.header .right-side .img5{
    animation: img5 1s alternate infinite;
}

.header .right-side .img6{
    right: 10rem;
    animation: img5 1s alternate infinite;
}

@keyframes animation {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-40px);
    }
}

@keyframes img2 {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-60px);
    }
}

@keyframes img5 {
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-60px);
    }
}