.indicators h1{
    font-weight: 700;
}

.indicators .cards span{
    font-size: 60px;
    padding-bottom: 15px;
    font-weight: 100;
    color: #C4C4C4;
}

.indicators .cards{
    gap: 80px !important;
}

.indicators .cards h1{
    font-size: 64px;
}

.content{
    padding-top: 100px;
}

.main .img{
    width: 330px;
    padding: 10px;
    height: 330px;
    border: 1px solid #C4C4C4;
    border-radius: 50%;
}
  
  .circle{
    width:30px;
    height:30px;
    border: 2px solid #004AAC;
    border-radius:50%;
    position: relative;
    top: -180px;
    margin:auto;
    animation: circle 10s linear infinite;
  }

  .vector{
    width:70px;
    height:70px;
    position: relative;
    top: -230px;
    left: 130px;
    overflow:hidden;
    margin:auto;
    animation: circlee 15s linear infinite;
  }
  
  @keyframes circle{
    from{
      transform:rotate(-360deg)
                translate(-165px)
                rotate(0deg);
    
    }
    to{
      transform:rotate(360deg)
                translate(-165px)
                rotate(-360deg);
    }
  }

  @keyframes circlee{
    from{
      transform:rotate(-360deg)
                translate(-165px)
                rotate(360deg);
    
    }
    to{
      transform:rotate(360deg)
                translate(-165px)
                rotate(-360deg);
    }
  }