.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    background: #fff;
    padding: 0 2rem;
}
.navbar-brand img{
    margin-bottom: 1rem;
}